 
    <nav class="  navbar navbar-expand-lg  fixed-top  d-flex justify-content-between  " style=" position: fixed; background-color: rgb(33, 33, 85); min-width: 100vw;">
      <a class=" overflow-hidden navbar-brand" style="height: 55px;" ><img class="rounded-circle"style="width: 53px " src="assets/logo.svg" alt="Image"></a>
      <ul style="font-size: 20px; " class="me-1 nav justify-content-end  ">
        <li class="nav-item">
          <a class="nav-link active" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Resources</a>
        </li>
        <li class="nav-item">
          <a class="  nav-link " href="#" tabindex="-1" aria-disabled="true">Contact</a>
        </li>
      </ul>
    </nav>
 